* {
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

.section-form {
  background-color: #7F67F0;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.section-form h2 {
  font-size: 20px;
  
}
  
  